#content {
  margin-left: auto;
  margin-right: auto;
  width: 650px;
  background-color: white;
  border: 20px solid pink;
  padding: 75px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}